body{
    overflow: visible;
}
#body {
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    zoom:70%;
}

#courseCardDiv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    column-gap: 30px;
    flex-wrap: wrap;
    row-gap: 20px;
}